body {
  background: url("../images/background.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand img {
  float: left;
  width: 25px;
  height: auto;
}

.navbar-brand {
	font-size: 25px;	
}

.navbar-brand img {
	float: left;
	width: 25px;
	height: auto;
}

.navbar-brand {
	font-size: 25px;
}

.navbar-default {
    background: #3C0E50;   
}

ul.nav a:hover { 
	background: #703789 !important; 
}
    
.jumbotron {
	background-image: url(../images/titleimg.jpg);
  background-size: cover;
  background-position: center; 
  font-family: 'Artifika', serif;
	color: red;
}

.button {
  border-radius: 4px;
  background-color: #7C3D97;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 95px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#museum-type-input {
  width: 35%;
}

#map {
     height: 700px;
     width: 65%;
}

p {
  margin-left: 15px;
}

#museum-view {
  padding-left: 0px;
}

h4 {
	font-family: 'Artifika', serif;
	color: black !important;

/*    PAGE1            */
.panel-heading {
    background: #3C0E50 !important;   
}

@media print {
.print {display: block !important;}
.noprint {display: none;}
}