/*body {
	background: no-repeat url(../images/titleimg.jpg);
	background-size: cover;
    background-position: center;
}*/

.navbar-brand {
	font-size: 25px;	
}

.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-default {
    background: #3C0E50;   
}

ul.nav a:hover { 
	background: #C06DB8 !important; 
}
    
.jumbotron {
	background-image: url(../images/titleimg.jpg);
    background-size: cover;
    background-position: center; 
    font-family: 'Artifika', serif;
	color: red;
}

.button {
  border-radius: 4px;
  background-color: #C06DB8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 95px;
  transition: all 0.5s;
  cursor: pointer;
  /*margin: 5px;*/
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#city-input {
  width: 300px;
}

#map {
     height: 600px;
     width: 65%;
    }

